.Prime-ben{
    background-color:#00050d;
    /* width: max-content; */
    padding-bottom: 250px;
}
.Prime-Shipping-benefits-header,
.Amazon-pay-header,
.prime-music-header,
.prime-reading-header,
.prime-video-header{
    /* padding-top: 10px; */
    margin-left: 72px;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
}

.Prime-Shipping-benefits-container,
.Amazon-pay-container,
.prime-music-container,
.prime-reading-container
{
    width: max-content;
    display: flex;
    gap: 25px;
    padding: 20px 72px;
    padding-bottom:60px;
}
.prime-video-container{
    display: flex;
    gap: 25px;
    padding: 20px 72px;
    padding-bottom:260px;
}
.prime-benefits-card{
    height: 172px;
    width: 288px;
  cursor: pointer;
}
img{
    height: inherit;
    width: inherit;
    border-radius: 8px;
}
/* pm top carousel */
.pm-items{
    display: flex;
  justify-content: center;
  width: 100%;
  height:460px;
  position: relative;
  padding: 0px 20px;
  cursor: pointer;
}
.pm-poster-content{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(10deg,#00050d, 10%,#0c111b00);
}
.pm-image-container{
    position:absolute;
    top: 100px;
    left: 70px;
}
.pm-poster-content img{
    width:300x;
    height:120px;
}
.pm-button{
    position: absolute;
    padding: 20px;
    font-size: 21px;
    color: #00050d;
    background-color: #fff;
    font-weight: 900;
    top: 300px;
    left: 70px;
    border: none;
    border-radius: 8px;
    transition: 0.3s transform ease-in;
}
.pm-button:hover{
    transform: scale(1.05);
}

@media screen and (max-width:1280px) {
    .Prime-ben{
        /* width: max-content; */
    }
    .prime-benefits-card{
        height: 132px;
        width: 170px;
    }

}
@media screen and (max-width:900px) {
    .Prime-ben{
        /* width: max-content; */
    }
 .Prime-Shipping-benefits-header,
.Amazon-pay-header,
.prime-music-header,
.prime-reading-header,
.prime-video-header{
    margin-left:20px;
}


    .prime-benefits-card{
        height: 112px;
        width: 138px;
    }
    
}

@media screen and (max-width:540px){
    .Prime-ben {
        background-color: #00050d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.Prime-Shipping-benefits-header,
.Amazon-pay-header,
.prime-music-header,
.prime-reading-header,
.prime-video-header{
padding-top: 20px;
margin-left: 30px;
}
.Prime-Shipping-benefits-container,
.Amazon-pay-container,
.prime-music-container,
.prime-reading-container,.prime-video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    flex-wrap: wrap;
}
.prime-benefits-card{
    height: 172px;
    width: 258px;
  cursor: pointer;
}
.pm-image-container{
    display: none;
}
}


@media screen and (max-width:360px){

    .Prime-ben {
        background-color: #00050d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Prime-Shipping-benefits-header,
.Amazon-pay-header,
.prime-music-header,
.prime-reading-header,
.prime-video-header{
padding-top: 20px;
margin-left: 30px;
}
.Prime-Shipping-benefits-container,
.Amazon-pay-container,
.prime-music-container,
.prime-reading-container,.prime-video-container{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.prime-benefits-card{
    height: 172px;
    width: 228px;
  cursor: pointer;
}
.pm-image-container{
    display: none;
}
}