*{
    background-color: unset;
    /* background-color: #00050d; */
}
.comingsooncontainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color:#00050d; */
}
.comingsooncontainer img{
    width: 60%;
    height: 300px;
    object-fit:fill;
    border-radius: unset;

}