@import url('https://fonts.cdnfonts.com/css/amazon-ember');



.Signoutposter-1{
    position: relative;
}
.Signoutposter-1 img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: unset!important;
}
.Signoutposter-2{
    width: 100%;
    position: relative;
}
.Signoutposter-2 img{
    left: 0;
    width: 100%;
    border-radius: unset!important;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:cover;
    height: auto;
}
.Ad-1{
    position:absolute;
    left: 5%;
    width: 40%;
    margin-top: -40%;
    color:#fff;
    background-color: transparent;
    border-radius: unset!important;

} 
 .Ad-1 p{
    font-size: 21px;
    background-color: transparent;
    margin:20px 0px ;

}

.Ad-2{
    position:absolute;
    right:3%;
    width: 45%;
    letter-spacing:2px;
    margin-top:-45%;
    color:#fff;
    background-color:0.2 #333;
    font-size: 21px;
} 

 .Ad-2 p{
    padding-left:3px ;
    margin:20px 0px ;
 }


.heading-1 ,.heading-2{
    letter-spacing: 3px;
    line-height:3.1rem;
    background-color: transparent;
    margin-bottom: 10px;
}
.heading-1 h1,.heading-2 h1{
    background-color: transparent;
    font-size: 38px;
}
 .Ad-1 button,.Ad-2 button{
    padding: 14px 20px;
    width: 280px;
    /* height: 60px; */
    background-color: #0f79af;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    margin-top: 10px;
    border-style: solid;
    border: none;
    border-radius: 3px;
    cursor:pointer;
    margin:10px 0px ;
} 
.frontpage-btn:hover,.Ad-2 button:hover{
    background-color: #00a0d6;
    transition: all .2s ease-out;
}
.getStarted:hover{
    background-color: #00a0d6;
    transition: all .2s ease-out;
}
/* Ad 2 */


/* grid cards */
.secondDiv{
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color:white!important;
    padding:30px 20px;  
    z-index: 2;
}
.secondDiv-content{
    display: block;
    background-color:white!important;
    width:50%;
    height: 100%;
}
.yourfavouritediv{
    font-size:38px;
    font-weight: 100;
    margin-bottom: 30px;
    color: #000000!important;
}
.firstptag{
    font-size: 21px;
    color: black!important  ;
    background-color:white!important;
}

.gridcontainer{
    display: flex;
    justify-content: center;
    width:50%;
    display: flex;
    flex-wrap: wrap;
    background-color:white;
    height: 100%;
}
.grid-item{
    background-color:white;
}
.grid-item img{
    width: 180px;
    object-fit:cover;
    margin:2px;
}
.grid-item img:hover{
    box-shadow: 0px 1px 6px 4px #333;
    z-index: 10;
}

/* Ad-3 */

.Signoutposter-3 img,.Signoutposter-4 img{
    border-radius: unset!important;
    object-fit:cover;
}

.Signoutposter-3{
    top: 5px;
    height: 600px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.Signoutposter-3 img{
    width: 100%;
    height: 800px;
}
.Ad-3{
    top:20%;
    position:absolute;
    right: 9%;
    width: 40%;
    letter-spacing: 2px;
    color:#fff;
    background-color: transparent;
} 
 .Ad-3 p{
    font-size: 19px;
    background-color: transparent;
    padding-bottom: 30px;
}
.heading-3{
    display: flex;
    padding: 30px 0px;
     width:100%;
    letter-spacing: 2px;
     font-size: 25px;
    line-height:5.5 rem;
    background-color: transparent;
}
.heading-3 h2{
    background-color: transparent;
}
 .Ad-3 button{
    padding: 14px 20px;
    width: 280px;
    background-color: #0f79af;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    margin-top: 10px;
    border-style: solid;
    border: none;
    border-radius: 3px;
} 
/* Ad-4 */
.Signoutposter-4{
    width: 100%;
    top: 5px;
    position: relative;
}
.Signoutposter-4{
    height: 600px;
    position: relative;
    overflow: hidden;
}
.Signoutposter-4 img{
    width: 100%;
    height: 800px;
}
.Ad-4{
    top:20%;
    position:absolute;
    left: 9%;
    width: 40%;
    letter-spacing: 2px;
    color:#fff;
    background-color: transparent;
} 
 .Ad-4 p{
    font-size: 19px;
    background-color: transparent;
    padding-bottom: 30px;
}
.heading-4{
    display: flex;
    padding: 30px 0px;
     width:100%;
    letter-spacing: 2px;
     font-size: 25px;
    line-height:5.5 rem;
    background-color: transparent;
}
.heading-4 h1{
    background-color: transparent;
}
 .Ad-4 button{
    padding: 14px 20px;
    width: 280px;
    background-color: #0f79af;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-top: 10px;
    border-style: solid;
    border: none;
    border-radius: 3px;
} 
@media screen and (max-width:605px){
.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}
.Signoutposter-1{
    position: unset!important;
}
.Ad-1{
    left:0;
    width: unset!important;
    margin-top:0px;
    background-color: #000000;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 50px 0px;
}
.Ad-1 p{
    padding: 10px 0px 0px 20px;
    
}
.heading-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-1 h1,.heading-2 h1{
   font-weight: 900;
   font-size: 23px;
   letter-spacing:unset!important;
   line-height:unset!important;
   padding: 10px 5px 0px 10px;

}
.Signoutposter-2{
    position: unset!important;
    margin-top:340px;
    height: unset!important;
    overflow: unset!important;
    z-index:2;
}
.Signoutposter-2 img{
    position: unset!important;
    overflow: unset!important;
    height: 200px;
}

.Ad-2{
    position: unset!important;
    right:unset!important;
    width: unset!important;
    margin-top: unset!important;
    background-color: #000000;
    padding: 10px 15px 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Ad-2 p{
    padding:20px 0px;
    font-size: 21px;
}
.Ad-1 button,.Ad-2 button,.Ad-3 button,.Ad-4 button{
    width: 260px!important;
    font-size:21px;
}

/* grid cards */

.secondDiv{
    padding:unset!important;
    flex-direction: column!important;
    margin-top: 0!important;
    z-index: 2;
    padding:unset!important;
}
.secondDiv-content{
    width: 100%;
    padding:30px;

}

.gridcontainer{
    right: unset!important;
    width: 100%;
    column-count:2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* SignOut poster 3 */
.container-2{
    display: block;
}
.Signoutposter-3,.Signoutposter-4{
    display: block;
    object-fit:cover!important;
    position:unset!important;
    overflow: unset!important;
    height: max-content;

}
.Signoutposter-3 img,.Signoutposter-4 img{
    height: unset!important;
}
.Ad-3,.Ad-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:unset!important;
    background-color: #000000;
    color: #fff;
    width:100%;
    margin-top:-5px!important;
    padding: 20px 0px;
}
.heading-3,.heading-4{
    place-content: center;
}
.heading-3 {
    padding-left:15px;
}
.heading-3 h2,.heading-4 h1{
    font-size: 18px;
}
.Ad-3 p,.Ad-4 p{
 padding: 10px 10px;
 font-size: 14px;
}
}
@media screen and (min-width:606px) and (max-width:1280px){
    
    .gridcontainer{
        width: 70%;
    }
}