.Carousel-header{
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 900;
    margin-top: 50px;
    justify-content: flex-start;
    padding-left: 60px;
    font-size: 18px;
    line-height: 24px;
  }
  .Carousel-header-prime{
    color: #1a98ff;
  }
  .cards-carousel{
    padding-left: 40px;
  }
  
  .value-header{
    font-size: 43px;
    padding-left: 60px;
    color: #fff;
    font-weight: 900;
    margin-top: 20px;
  }
  /* carousel header */
 
  .card-items {
    max-width: 480px;
    display: block;
    padding:40px 16px;
    place-items: center;
    left: 10px;
    top: 0px;
    transition: 0.6s ease;
    /* overflow: visible!important; */
  }

  .card-items img {
    margin-top: 0;
    opacity: 1;   
    width:100%;
    height: 180px;
    transition: 0.6s ease;
    border-radius: 18px;
  }
  
 
  .card-items img:hover{
    transform: scale(1.25);
    z-index: 1200;
  }
  .card-items:hover .card-details {
    opacity: 0.9;
    transition: 0.9s ease;
    display: block;
  }
  .card-items:hover {
    transition: .6s ease;
  }
  .card-items:hover .card-details p {
    background-color: #000;
    color: white;
  } 
  /* card details style */
  .card-details {
    display: none;
    margin-top: 25px;
    padding: 1px;
    bottom: 0;  
    width:350px;
    height: 270px;
    background-color: #000;
    color: white;
    transition: .6s ease;
  }
  .prime-content {
    padding: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    background-color: #000;
    font-size: 22px;
  }
  .prime-content p{
      background-color: #000;
  }
  .prime-content img {
    height: 32px;
    width: 32px;
  }
  #play-control {
      gap:5px;
      /* margin: 30px 0px; */
      margin-top: 20px;
      /* margin-left: 10px; */
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #000;
    font-size: 29px;
  }
  #play-control p{
      background-color: #000;
  }
  #play-btn {
    width: 70px;
    height: 70px;
    background-color: white;
    border: none;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
  #play-btn:hover{
      transform: scale(1.1);
      opacity: 0.7;
  }
  #play-btn-icon {
    background-color: white;
    font-size: 40px;
  }
  #watchlist-icon {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
  #watchlist-icon-button {
      width: 40%;
      display:flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      gap: 20px;
      background-color: #333;
      border: none;
  }
  #plus-icon,#threedots-icon {
    background-color: #333;
    color: white;
    font-size: 40px;
  }
  #watchlist-icon-button:hover {
      background-color: white;
      #plus-icon{
          background-color: white;
          color: #00050d;
      }
      #threedots-icon{
          background-color: white;
          color: #00050d;
          /* opacity: 0.7; */
      }
      
  }
  .item-title{
      margin-top: 10px;
      margin-left: 20px;
      background-color: #000;
  }
  .item-title h1{
      background-color: #000;
  }
  
  .react-multiple-carousel__arrow--right {
    right:20px;
    top: 100px;
  }
  .react-multiple-carousel__arrow--left {
    left:20px;
    top: 100px;
  }