
/* mb prime styles */
.mb-prime-top-container{
    background-color: #2f2f2f;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.mb-prime-top-container img{
    height:56px;
    padding:5px 0px 10px 0px;
}
.mb-prime-plan-container{
    margin: 18px 10px 10px 10px;
    letter-spacing:1px;
    line-height: 1.3rem;
}
.mb-prime-plan-normal{
    color: #0f1111!important;
}
.mb-prime-plan-container strong{
    font-weight: 900;
}
/* box styles */
.mb-box-container{
    max-width: 320px;
    margin: 18px 10px 10px 10px;
    display: flex;
    gap: 10px;
    position: relative;
}
.mb-box-1,.mb-box-2{
    display: flex!important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120px;
    height:90px;
    background-color: #425265;
}
.mb-box-1 p,.mb-box-2 p{
margin:5px 0px 0px 0px;
 letter-spacing: 1px;
color: #fff;
font-weight: 900!important;
}
/* arrow styles */
.down-arrow-1{
    position: absolute;
    left: 16.6%;
    top: 96%;
    /* font-size:30px; */
}
.down-arrow-2{
    position: absolute;
    left:56%;
    top: 96%;

}
.mb-box{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    background-color: #0f79af;
}
.mb-box,.down-arrow-active{
    display:flex!important;
}

.mb-box-1:hover,.mb-box-2:hover{
    background-color: #0f79af;
}
.mb-box-1:hover + .down-arrow-1{
    display: block;
}
.mb-box-2:hover + .down-arrow-2{
    display: block;
}
.down-arrow-1,.down-arrow-2{
    color: #0f79af;
    display: none;
}
/* plan container styles */
.mb-plan-container{
    margin: 16px;
    height: max-content;
    border-radius:4px;
    border: 1px solid #0F79AF;
    box-shadow: 0px 0px 10px 0px #00000080;
}
.plan-header{
    background-color: #0F79AF;
    color: white!important;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.mb-item-container{
    display: flex;
    padding: 10px;
    border-bottom: 2px solid #E5E5E5;
}
.mb-tick-container{
    display:flex;
    flex-direction: column;
    max-width: max-content;
}
.mb-tick{
    color: #0f79af;
    font-size:25px;
    top:5px;
    margin:8px;
}
.mb-plan-content{
    font-size: 12px;
    line-height:18px;
    margin: 8px 0px 3px 0px;
}
/* plan type styles */

.plan-type{
    display:flex;
    border-bottom: 2px solid #E5E5E5;
    padding:20px;
}
.input-circle{
    width:25px;
    height:25px;
   margin-right: 20px;
  border: 2px solid #0F79AF;
  border-radius: 50%;
  cursor: pointer
}
.input-circle.checked {
    width:25px;
    height:25px;
    box-shadow: inset 0 0 0 2px #fff;
    background-color:#0F79AF;
  }
.plan-type-content p{
    margin-top: 10px;
}
.blue-plan{
    margin: unset!important;
    font-size: 20px;
    font-weight: 900;
    color: #0F79AF;
    top:0;
}
/* payment button styles */
.payment-container{
    display: flex;
    justify-content: center;
}
.payment-container button{
    display: flex;
    justify-content: center;
    background-color: #0F79AF;
    width:max-content;
    margin:20px 0px  50px 0px;
    font-size: 23px;
    color: #fff;
    padding: 10px;
    border-radius:4px;
    border: none;
    /* font-weight: 900; */
    letter-spacing: 1px;
    box-shadow: 0px 0px 10px 0px #00000080;
}
.payment-container button:disabled,
.payment-container button:disabled:hover{
background-color: gray;
}
.right-arrow{
    margin-top:3px;
    margin-left:10px;
    font-weight:900;
}
.payment-container button:hover{
    background-color:#00a0d6;
}

/* payment page */
.payment-header{
    display: flex;
    margin: 20px 0px 20px 10px;
    width: max-content;
    padding:10px 0px 10px 5px;

}
.payment-header p{
    font-size: 23px;
}
/* card container */
.card-container{
    padding-bottom: 50px;
}
.card-detail-container{
    margin: 10px;
    padding-left: 14px;
    border: 2px solid #e5e5e5;
}
.card-header{
    margin:10px 10px 10px 0px;
    padding: 10px 0px;
}
.card-slct-container{
 margin:10px 10px 10px 0px;
 padding: 10px 0px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 overflow: hidden;

}
.card-slct-container img{
    /* width: 50px; */
    height: max-content;
}
.card-slct-container p{
    margin:10px 10px 10px 0px;
    padding-bottom: 10px;
    /* border-bottom: 2px solid #aaa; */
}
.payment-card-details{
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    margin-top: 10px;
}
.payment-card-details div{
    font-size: 12px!important;
    color: black;
    padding-left:5px;
}
    .info-circle{
    font-size: 13px;
    color: #0F79AF;
}
.card-name-input,.card-year-input,.card-nmbr-input,.card-mnth-input,.card-cvv-input{
    border-radius: 4px;
    width: 200px;
    margin: 10px 20px 0px 0px;
    padding: 10px 0px 10px 10px;
}
.card-name-input:focus,.card-year-input:focus,.card-nmbr-input:focus,.card-mnth-input:focus,.card-cvv-input:focus{
    /* border: none; */
    border: 1px solid #1f8293;
    outline: 0;
    box-shadow: 0 0 2px 2px #a8edf0;
    background-color: #f7feff;
}
.card-name-input::placeholder{
    left: 20px;
}
.card-user-details{
    display:flex;
    flex-direction: column;
    margin: 20px;
}
#input-condtn{
    color: red;
    border: unset;
    font-size: 12px;
}
.card-expiry-container{
    display: flex;
}
.pay-btn-container{
    display: flex;
    justify-content: center;
}
#pay-btn{
    padding: 10px;
    background-color:#0F79AF;
    border: none ;
    border-radius:4px;
    color: #fff;
    box-shadow: 0px 0px 10px 0px #00000080;

}
#pay-btn:disabled,#pay-btn:disabled:hover{
background-color: gray;
}

/* plan alert styles */
.plan-alert-container{
    display:flex;
    flex-direction: column;
    background-color:rgba( 0,5,13, 0.6);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:110%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.plan-alert-box{
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00050d;
    color:#00a0d6;
    height: 300px;
    gap: 20px;
    /* font-size:23px; */
    font-weight:900;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px #a8edf0;
    /* letter-spacing: 1px; */
}
#enjoy-prime-btn,#go-bck-btn{
    background-color: #0F79AF;
    border: none;
    padding: 10px 20px;
    border-radius:8px;
    font-size: 23px;
    font-weight: 500;
     color: #fff;
     margin-top: 20px;
    box-shadow: 0 0 2px 2px #a8edf0;
}
#enjoy-prime-btn:hover,#go-bck-btn:hover{
    background-color: #00a0d6;
    box-shadow: 0 0 2px 2px #00050d;

}

@media screen and (max-width:420px) {
    .card-expiry-container{
        display: flex;
        flex-direction:column;
    }
}